
body{
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  height: 100vh;
  margin: 0;
  background-color: #FFFBDA;
}

.bg {
  /* background image is used with farmname, which orients for screenshot 
  to be used instead of the image, lettering is placed correctly this way. */
  /* background-image: url("images/backGroundFB.jpg"); */
  background-image: url("images/useMePic.png");
  height: 65vh; 
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0%;
  overflow-y: hidden;
}

/* h1{
  font-family: Arial, Helvetica, sans-serif;
  color: #040303;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
} */

/*lighter / main color pallet link: https://colorhunt.co/palette/fffbdaffec9effbb70ed9455 */
/* darker / text color pallet link: https://colorhunt.co/palette/040303461111a13333b3541e */
/*landing page title currently not used*/
.farmName {
  margin-top: 0px;
  margin-bottom: 1vh;
  position: absolute;
  bottom: 40vh;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vw;
  color: #FFFBDA;
}


/* Pseudo classes  */
a {
  text-decoration: none;
  /* color: black; */
}
/* a:active{
 background-color: #A13333
} */
a:link {
  color: #040303;
}
a:visited {
  color: #461111;
}

a:hover{
  color: #A13333;
}

.navLiFront:hover{
  background-color: #ED9455;
}

.navLiFront.active{
 background-color: #FFEC9E
}

/* landing page navigation list items*/
.navLiFront {
border: black solid 1px;
border-radius: 10px;
height: 30px;
width: 175px;
/* display: inline-flex; */
/* margin-top: 5px; */
/* margin-bottom: 5px; */
/* margin-inline-start: 0;
margin-inline-end: 0; */
/* padding-left: 10px;
padding-right: 10px;  */
/* list-style: none; */
/* justify-content: center;
align-items: center; */
/* text-align: center; */
display: block
}

.navLiFront a {
  display: flex; /* Makes the <a> a flex container */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  width: 100%; /* Makes the <a> fill the width of its parent <li> */
  height: 100%; /* Makes the <a> fill the height of its parent <li> */
  text-decoration: none; /* Keeps the text from being underlined */
}


/* nav bar unordered list */
.navFront{
  display: flex;
  /* border: black solid 1px; */
  justify-content: space-evenly;
  /* margin:; */
  /* align-items: center; */
/* margin-inline-start: 0;
margin-inline-end: 0;  */
padding-left: 10px;
padding-right: 10px; 
  /* padding-left: 5vw;
  padding-right: 5vw; */
}

/* copyright across all pages */
.copyright {
  font-size: 0.8rem;
  background-color: #FFEC9E;
  color: #ED9455;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
}

/* landing page footer */
.footer{
width: 100%;
text-align: center;
/* position:fixed; */
bottom: 0;
}
