body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("/VaughnFayeFarms/images/backGroundFB.jpg");
  /* Full height */
  height: 75%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* color pallet link https://colorhunt.co/palette/fffbdaffec9effbb70ed9455 */

.farmName {
  text-align: center;
  font-family: "Lucida Handwriting", cursive, sans-serif;
  font-size: 300%;
  color: #FFFBDA;
}
